@model List<Movie>

<div>
    <h2>Movies</h2>
    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent to</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @if (Model != null)
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Category?.CategoryName</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>  
                    <td>@movie.Edited</td>
                    <td>@movie.LentTo</td>
                    <td>@movie.CopiedToPlex</td>
                    <td>@movie.Notes</td>
                    <td>
                        <a class="btn btn-info" asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.MovieId">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@movie.MovieId">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
